COMPOSE_PROJECT_NAME=wechat-moments

LAN_IP=172.16.10.191

POSTGRES_DB=wechat_moments
POSTGRES_USER=app
POSTGRES_PASSWORD=app

DATABASE_URL=postgresql+psycopg://app:app@postgres:5432/wechat_moments
REDIS_URL=redis://redis:6379/0

S3_BUCKET=wechat-moments-dev
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
S3_ENDPOINT=http://minio:9000
S3_PUBLIC_BASE_URL=http://172.16.10.191:9000/wechat-moments-dev
S3_REGION=us-east-1
S3_FORCE_PATH_STYLE=true

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin
